<a href="https://colab.research.google.com/github/aysegulYalcinkaya/AIDI-1100-Project1/blob/main/store_app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
class Item:
  def __init__(self,item_name,price,stock):
    self.item_name=item_name
    self.price=price
    self.stock=stock

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except sqlite3.Error as e:
        print(e)

    return conn

In [4]:

def insert_item_db(item):
  connection=create_connection("store.db")
  cur = connection.cursor()
  sql = "insert into items(ItemName,Price,Stock) values(?,?,?)"
  cur.execute(sql,(item.item_name,item.price,item.stock))
  connection.commit()
  cur.close()
  connection.close()
  return True

def update_item_db(item):
  connection=create_connection("store.db")
  cur = connection.cursor()
  sql = "update items set Price=?,Stock=? where ItemName=?"
  cur.execute(sql,(item.price,item.stock,item.item_name))
  connection.commit()
  cur.close()
  connection.close()
  return True

def delete_item_db():
  connection=create_connection("store.db")
  cur = connection.cursor()
  sql = "delete from items"
  cur.execute(sql)
  connection.commit()
  cur.close()
  connection.close()
  return True

def get_items():
  connection=create_connection("store.db")
  cur = connection.cursor()
  sql = "select * from items"
  cur.execute(sql)
  rows=cur.fetchall()
  cur.close()
  connection.close()
  return rows

In [6]:
def init_items():
  store_items=dict();
  items=get_items()
  for item in items:
    store_items[item[0]]=Item(item[0],item[1],item[2])
  return store_items

In [7]:
def add_item():
  item_name=input("Enter item name: ")
  if search_item(item_name):
    print(item_name," is already in store!")
  else:
    item_price=float(input("Price: "))
    item_stock=int(input("Stock: "))

    item=Item(item_name,item_price,item_stock)

    if insert_item_db(item):
      store_items[item_name]=item

In [12]:
def update_item():
  item_name=input("Enter Item Name: ")
  item=search_item(item_name)
  if item:
    price=float(input("New Price: "))
    stock=int(input("New Stock: "))
    item.price=price
    item.stock=stock
    update_item_db(item)
    store_items[item_name]=item

In [8]:
def display_inventory():

  for index in store_items:
    item=store_items[index]
    print(item.item_name)

In [9]:
def search_item(item_name):
  return None

In [10]:
def print_menu():
  print("|---------- GROUP X STORE --------------|")
  print("|     1 ADD ITEM                        |")
  print("|     2 UPDATE ITEM                     |")
  print("|     3 SEARCH ITEM                     |")
  print("|     4 REMOVE ITEM                     |")
  print("|     5 DISPLAY INVENTORY               |")
  print("|     X EXIT                            |")
  print("|---------------------------------------|")

In [11]:
store_items=init_items()
print_menu()
while True:
  choice=input("Select menu option: ")
  if choice=="1":
    add_item()
  elif choice=="2":
    pass
  elif choice=="3":
    pass
  elif choice=="4":
    pass
  elif choice=="5":
    display_inventory()
  elif choice.lower()=="x":
    break
  else: 
    print("INVALID INPUT!")
  print_menu()

|---------- GROUP X STORE --------------|
|     1 ADD ITEM                        |
|     2 UPDATE ITEM                     |
|     3 SEARCH ITEM                     |
|     4 REMOVE ITEM                     |
|     5 DISPLAY INVENTORY               |
|     X EXIT                            |
|---------------------------------------|
Select menu option: 1
Enter item name: Samsung Galaxy S23 Ultra 5G
Price: 1650
Stock: 6
|---------- GROUP X STORE --------------|
|     1 ADD ITEM                        |
|     2 UPDATE ITEM                     |
|     3 SEARCH ITEM                     |
|     4 REMOVE ITEM                     |
|     5 DISPLAY INVENTORY               |
|     X EXIT                            |
|---------------------------------------|
Select menu option: 1
Enter item name: Apple iPhone 12, 64GB, Blue
Price: 580
Stock: 2
|---------- GROUP X STORE --------------|
|     1 ADD ITEM                        |
|     2 UPDATE ITEM                     |
|     3 SEARCH ITEM                     |
|     4 REMOVE ITEM                     |
|     5 DISPLAY INVENTORY               |
|     X EXIT                            |
|---------------------------------------|
Select menu option: 5
Samsung Galaxy S23 Ultra 5G
Apple iPhone 12, 64GB, Blue
|---------- GROUP X STORE --------------|
|     1 ADD ITEM                        |
|     2 UPDATE ITEM                     |
|     3 SEARCH ITEM                     |
|     4 REMOVE ITEM                     |
|     5 DISPLAY INVENTORY               |
|     X EXIT                            |
|---------------------------------------|
Select menu option: x